@import "config";

/* BEM support Func
 -------------------------- */
@function selectorToString($selector) {
  $selector: inspect($selector); // 返回值在Sass中表示的字符串表示形式。
  $selector: str-slice($selector, 2, -2); // slice (1,-1)
  @return $selector;
}

/************** 包含有 $modifier-separator “--” 修饰语  ********************/
@function containsModifier($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, $modifier-separator) { // --
    // 返回`$selector`中第一次出现`$modifier-separator`的索引。 如果没有这种情况，则返回“null”。
    @return true;
  } @else {
    @return false;
  }
}


/************** 包含有 状态前缀 ********************/
@function containWhenFlag($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, '.'+ $state-prefix) {
    // .is-
    @return true;
  } @else {
    @return false;
  }
}

/************** 包含有 伪 选择器 ********************/
@function containPseudoClass($selector) {
  $selector: selectorToString($selector);

  @if str-index($selector, ':') {
    // :
    @return true;
  } @else {
    @return false;
  }
}

@function hitAllSpecialNestRule($selector) {

  @return containsModifier($selector) or containWhenFlag($selector) or containPseudoClass($selector);
}
